.equipe_title{
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}    
.main_equipe{
    display: flex;
}

.tableau{
    width: 80%;
    display: flex;
}
.container_bouton_display_tableau{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.equipe_joueur{
    overflow-y: scroll;
    max-height: 250px;
    /* width: 465px; */
    width: 0%;
    font-size: 0.7em;
    transition: all 1s ease-in-out;
}
.equipe_joueur_toggle{
    width: 100%;
}
.container_bouton_display_tableau{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.choix{
    display: flex;
    justify-content: space-around;
    gap: 5%;
}
.choix_goal,.choix_defenseur,.choix_milieu,.choix_attaquant{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
