<div class="container-fluid">

<h1>GUIDE UTILISATEUR</h1>

<a class="retour" *ngIf="auth.compte.hasEquipe" [routerLink]="['/menu-principal']">Retour</a>
<a class="retour" *ngIf="!auth.compte.hasEquipe" [routerLink]="['/menu-inscription']">Retour</a>


<div class="containerGuideUser">

    <h3>Bienvenue dans Football Manager !</h3>
    <p>Laisses-nous deviner ? Tu aimes le football ? Et tu aimerais pouvoir manager ta propre équipe ?
    Mais tu ne sais pas comment t'y prendre ? Permets-nous de t'expliquer un peu le fonctionnement !</p>
    <br>
    <div class="regle">
    <img width="140px" height="80px" class="imgRegle" src="../../assets/medias/img/equipe.png" alt="equipe">
    <div class="contentRegle">
        <h4>Equipe</h4>
        <p>Tu vas pouvoir créer ta propre équipe de joueurs, et jouer le rôle de l'entraineur afin de pouvoir
        booster ton équipe lorsqu'elle affrontra d'autres équipes adversaires. Le but est de maintenir et
        faire évoluer le plus possible ton équipe grâce aux matchs que tu auras gagnés et également aux points
        qui te seront donnés chaque jour. À la création de ton équipe, tu pourras choisir le pays qui tu voudras
        représenter, parmi une liste.</p>
    </div>
    </div>

    <div class="regle">
    <img width="140px" height="80px" class="imgRegle" src="../../assets/medias/img/equipe.png" alt="">
    <div class="contentRegle">
        <h4>Equipe</h4>
        <p>Tu vas pouvoir créer ta propre équipe de joueurs, et jouer le rôle de l'entraineur afin de pouvoir
        booster ton équipe lorsqu'elle affrontra d'autres équipes adversaires. Le but est de maintenir et
        faire évoluer le plus possible ton équipe grâce aux matchs que tu auras gagnés et également aux points
        qui te seront donnés chaque jour. À la création de ton équipe, tu pourras choisir le pays qui tu voudras
        représenter, parmi une liste.</p>
    </div>
    </div>

    <div class="regle">
    <img width="110px" height="80px" class="imgRegle" src="../../assets/medias/img/match.png" alt="match">
    <div class="contentRegle">
        <h4>Match</h4>
        <p>Un match dure X sec/min. L'arbitre est choisi au hasard, qui peut faire preuve, plus ou moins, d'impartialité.
        Ce sera toi et ta chance ! Le stade où sera joué le match aura une ambiance plus ou moins bonne, ce qui pourra
        impacter le jeu de ton équipe. À la mi-temps, il te sera possible de coacher ton équipe si tu vois qu'elle a
        besoin d'être motivée ou si tu veux, tout simplement, continuer à l'encourager.
        Attention ! Si tu prends un match, une sanction sera appliquée à ton équipe, et l'entraîneur que tu incarnes.</p>
    </div>
    </div>

    <div class="regle">
    <img width="110px" height="80px" class="imgRegle" src="../../assets/medias/img/strategie.png" alt="strategies">
    <div class="contentRegle">
        <h4>Stratégies</h4>
        <div id="listeRegle">
        <p>Une fois ton équipe créée, tu pourras gérer :</p>
        <ul>
            <li>La pratique d'entraînement</li>
            <li>Le coaching de ton équipe en début de match et en mi-temps</li>
            <li>L'évolution des statistiques de tes joueurs</li>
            <li>Démissioner car tu as décidé que manager était trop dur</li>
        </ul>
        </div>
    </div>
    </div>

    <p>À toi de jouer et de permettre à ton équipe d'atteindre le haut du classement de Football Manager !</p>
</div>
</div>
