<div class="container">
    <img class = "background_foot" src="../../assets/medias/img/homeBackground.jpg" />
    <h1 class="title">FOOTBALL MANAGER</h1>
        <div class="container1">
            
            
                <div class="inscription">
                    <p class="inscription_texte"><a [routerLink]="['/inscription']">INSCRIPTION</a></p>
                </div>
    
                <div class="connexion">
                    <p class="connexion_texte"><a [routerLink]="['/connexion']">CONNEXION</a></p>
                </div>
            
        </div>
      
    <!-- <div class="background-container">
        <a [routerLink]="['/inscription']">
            <div class="boxBtnInscription">
                <p class="btnInscription">INSCRIPTION</p>
            </div>
        </a>
        <a [routerLink]="['/connexion']">
            <div class="boxBtnConnexion">
                <p class="btnConnexion">CONNEXION</p>
            </div>
        </a>
        
    </div> -->

</div>